# Configuration file

general {
    # Max chunks to generate per tick per dimension
    I:chunksPerTick=4

    # Max time to spend generating chunks per tick per dimension
    I:maxChunkGenMillis=10
}


